<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="your_observer_name" instance="Anup\US15\Observer\CustomOrderPlaced" />
    </event>
    <event name="custom_order_placement">
        <observer name="custom_observer" instance="Anup\US15\Observer\RecordCustomerOrder" />
    </event>
</config>
