<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
       <add id="Anup_US9::first_level_demo"
           title="USer Story 9"
           module="Anup_US9"
           sortOrder="20"
           resource="Magento_Backend::content" />
       <add id="Anup_US9::second_level_demo"
           title="General"
           module="Anup_US9"
           sortOrder="1"
           action="admin/system_config/edit/section/humc_fmc"
           parent="Anup_US9::first_level_demo"
           resource="Magento_Backend::content" />
   </menu>
</config>